<footer class="p-4 bg-white md:p-8 lg:p-1:bg-gray-800">
  <div class="mx-auto max-w-screen-xl text-center">
    <a
      class="flex justify-center items-center text-2xl font-semibold text-gray-90:text-white"
    >
      <img src="/svg/logo.png" class="size-24" alt="E-Commerce Logo" />
    </a>
    <p class="mt-5 mb-6 text-gray-50:text-gray-400">
      Worlwide shipping. We ship to over 100+, countries in the world.
    </p>
    <span class="text-sm text-gray-500 sm:text-cente:text-gray-400"
      >© 2021-2022 <a href="#" class="hover:underline">E-Commerce™</a>. All
      Rights Reserved.</span
    >
  </div>
</footer>
